.predictive-search-result {
  /*margin-top: 0.5rem;*/
  margin-bottom: 2rem;
  background-color: #f9f9f9;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
  padding: 8px;
  position: relative;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
  padding: 8px;
  border: 1px solid transparent;
  transition: color 0.3s ease, border 0.3s ease;
}

.predictive-search-result-item a:hover {
  border-image: linear-gradient(to left, #eef0f3, #dfe2e6, #cacfd7) 1;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search-results-item a {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}
